html{
    margin: auto;
    overflow: scroll;
}

.navbar-brand {
    color: white;
}

body {
    background-color: white;
    overflow: hidden;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#mainPageText {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#mainPageText p {
    font-size: 18px;
}

.card-body {
    text-align: center;
}

.card-body a {
    background-color: lightseagreen;
    border-color: black;
}

.card-body a:hover {
    background-color: black;
    color: white;
    border-color: lightseagreen;
}